@{
    ViewData["Title"] = "Home";
}

<h2>Student MVC Assignment</h2>

<ul>
    <li><a href="/Home/View1">View1 - View()</a></li>
    <li><a href="/Home/View2">View2 - View(Model)</a></li>
    <li><a href="/Home/View3">View3 - View(ViewName)</a></li>
    <li><a href="/Home/View4">View4 - View(ViewName, Model)</a></li>
</ul>
