@model P2_StudentMVC.Models.Student

<h2>View2 - Student Details</h2>

<table border="1" cellpadding="5">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>Marks</td>
        <td>@Model.Marks</td>
    </tr>
</table>
