<h1>This is Login Form for students</h1>
<form action="/register" method="post">

    <table>
        <tr>
            <td>Enter name</td>
            <td><input type="text" name="sname" /></td>
        </tr>
        <tr>
            <td>Enter marks</td>
            <td><input type="number" name="smarks" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save" /></td>
        </tr>
    </table>

</form>